<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsf/core">

<h:head>
    <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/>
    <title>HOME</title>
</h:head>
<h:body>
    <h:form>
        <p:toolbar style="padding: 15px">
            <c:facet name="left">
                <h:outputText style="font-size: 24px" value="PROJECT_MANAGER"/>
                <p:commandButton style="margin-left: 30px" ajax="false" type="submit" value="HOME" action="/views/index.xhtml?faces-redirect=true"/>
                <p:commandButton style="margin-left: 10px" ajax="false" type="submit" value="PROJECTS" action="/views/projects.xhtml?faces-redirect=true"/>
                <p:commandButton style="margin-left: 10px" ajax="false" type="submit" value="TASKS" action="/views/tasks.xhtml?faces-redirect=true"/>
            </c:facet>
        </p:toolbar>
    </h:form>
</h:body>
</html>
