<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsf/core">

<h:head>
    <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/>
    <title>PROJECT LIST</title>
</h:head>
<h:body>
    <h:form>
        <p:toolbar style="padding: 15px">
            <c:facet name="left">
                <h:outputText style="font-size: 24px" value="PROJECT_MANAGER"/>
                <p:commandButton style="margin-left: 30px" ajax="false" type="submit" value="HOME" action="/views/index.xhtml?faces-redirect=true"/>
                <p:commandButton style="margin-left: 10px" ajax="false" type="submit" value="PROJECTS" action="/views/projects.xhtml?faces-redirect=true"/>
                <p:commandButton style="margin-left: 10px" ajax="false" type="submit" value="TASKS" action="/views/tasks.xhtml?faces-redirect=true"/>
            </c:facet>
        </p:toolbar>
    </h:form>
    <h:form>
    <p:dataTable binding="#{table}" value="#{projectBean.projects}" var="project">
        <c:facet name="header">
            <h:outputText style="text-align: center; font-size: 20px" value="PROJECT LIST" />
        </c:facet>
        <p:column style="width: 2%; margin-top: 10px; text-align: center">
            <c:facet name="header">#</c:facet>
            <h:outputText style="" value="#{table.rowIndex + 1}" />
        </p:column>
        <p:column>
            <c:facet name="header">NAME</c:facet>
            #{project.name}
        </p:column>
        <p:column>
            <c:facet name="header">DESCRIPTION</c:facet>
            #{project.description}
        </p:column>
        <p:column style="width: 20%; text-align: center">
            <c:facet name="header">ID</c:facet>
            #{project.id}
        </p:column>
        <p:column style="width: 4%; text-align: center">
            <c:facet name="header">TASK</c:facet>
            <p:commandButton ajax="false" type="submit" icon="pi pi-folder-open" action="#{taskBean.setProjectId(project.id)}"/>
        </p:column>
        <p:column style="width: 4%; text-align: center">
            <c:facet name="header">VIEW</c:facet>
            <p:commandButton ajax="false" type="submit" icon="pi pi-search" action="#{projectBean.find(project.id)}"/>
        </p:column>
        <p:column style="width: 4%; text-align: center">
            <c:facet name="header">EDIT</c:facet>
            <p:commandButton ajax="false" type="submit" icon="pi pi-pencil" action="#{projectBean.setId(project.id)}"/>
        </p:column>
        <p:column style="width: 5%; text-align: center">
            <c:facet name="header">REMOVE</c:facet>
            <p:commandButton ajax="false" type="submit" icon="pi pi-times" action="#{projectBean.delete(project.id)}"/>
        </p:column>
    </p:dataTable>
    </h:form>
    <h:form>
        <p:commandButton ajax="false" style="padding: 5px" type="submit" value="CREATE PROJECT" action="/views/projectCreate.xhtml?faces-redirect=true"/>
        <p:commandButton ajax="false" style="margin-left: 10px; padding: 5px" type="submit" value="REFRESH" action="/views/projects.xhtml?faces-redirect=true"/>
        <p:commandButton ajax="false" style="margin-left: 10px; padding: 5px" type="submit" value="BACK" action="/views/index.xhtml?faces-redirect=true"/>
    </h:form>
</h:body>
</html>