<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
    <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/>
    <title>TASK</title>
</h:head>
<h:body>
    <h:form>
        <p:toolbar style="padding: 15px">
            <f:facet name="left">
                <h:outputText style="font-size: 24px" value="PROJECT_MANAGER"/>
                <p:commandButton style="margin-left: 30px" ajax="false" type="submit" value="HOME" action="/views/index.xhtml?faces-redirect=true"/>
                <p:commandButton style="margin-left: 10px" ajax="false" type="submit" value="PROJECTS" action="/views/projects.xhtml?faces-redirect=true"/>
                <p:commandButton style="margin-left: 10px" ajax="false" type="submit" value="TASKS" action="/views/tasks.xhtml?faces-redirect=true"/>
            </f:facet>
        </p:toolbar>
    </h:form>
    <h:form>
        <p:dataTable value="#{taskBean.task}" var="task">
            <f:facet name="header">
                <h:outputText style="text-align: center; font-size: 20px" value="PROJECT" />
            </f:facet>
            <p:column style="text-align: center">
                <f:facet name="header">PROJECT NAME</f:facet>
                #{task.project.name}
            </p:column>
            <p:column style="text-align: center">
                <f:facet name="header">NAME</f:facet>
                #{task.name}
            </p:column>
            <p:column style="text-align: center">
                <f:facet name="header">DESCRIPTION</f:facet>
                #{task.description}
            </p:column>
            <p:column style="width: 20%; text-align: center">
                <f:facet name="header">ID</f:facet>
                #{task.id}
            </p:column>
            <p:column style="width: 8%; text-align: center">
                <f:facet name="header">STATUS</f:facet>
                #{task.status}
            </p:column>
            <p:column style="width: 10%; text-align: center">
                <f:facet name="header">BEGIN DATE</f:facet>
                #{task.beginDate}
            </p:column>
            <p:column style="width: 10%; text-align: center">
                <f:facet name="header">END DATE</f:facet>
                #{task.endDate}
            </p:column>
            <p:column style="width: 10%; text-align: center">
                <f:facet name="header">CREATE DATE</f:facet>
                #{task.createDate}
            </p:column>
            <p:column style="width: 4%; text-align: center">
                <f:facet name="header">EDIT</f:facet>
                <p:commandButton ajax="false" type="submit" icon="pi pi-pencil" action="#{taskBean.setId(task.id)}"/>
            </p:column>
            <p:column style="width: 5%; text-align: center">
                <f:facet name="header">REMOVE</f:facet>
                <p:commandButton ajax="false" type="submit" icon="pi pi-times" action="#{taskBean.delete(task.id)}"/>
            </p:column>
        </p:dataTable>
    </h:form>
    <h:form>
        <p:commandButton ajax="false" style="padding: 5px" type="submit" value="REFRESH" action="/views/taskView.xhtml?faces-redirect=true"/>
        <p:commandButton ajax="false" style="margin-left: 10px; padding: 5px" type="submit" value="BACK" action="/views/tasks.xhtml?faces-redirect=true"/>
    </h:form>
</h:body>
</html>