<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsf/core">

<h:head>
    <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/>
    <title>EDIT TASK</title>
</h:head>
<h:body>
    <h:form>
        <p:toolbar style="padding: 15px">
            <c:facet name="left">
                <h:outputText style="font-size: 24px" value="PROJECT_MANAGER"/>
                <p:commandButton style="margin-left: 30px" ajax="false" type="submit" value="HOME" action="/views/index.xhtml?faces-redirect=true"/>
                <p:commandButton style="margin-left: 10px" ajax="false" type="submit" value="PROJECTS" action="/views/projects.xhtml?faces-redirect=true"/>
                <p:commandButton style="margin-left: 10px" ajax="false" type="submit" value="TASKS" action="/views/tasks.xhtml?faces-redirect=true"/>
            </c:facet>
        </p:toolbar>
    </h:form>

    <h:form style="margin-top: 10px">
        <h:panelGrid columns="2" cellpadding="5">
            <p:outputLabel for="name" value="New task name" />
            <p:inputText id="name" value="#{taskBean.name}" />

            <p:outputLabel for="description" value="New task description" />
            <p:inputText id="description" value="#{taskBean.description}" />

            <p:outputLabel for="dateBegin" value="New task date of begin" />
            <p:inputText id="dateBegin" placeholder="DD.MM.YYYY" value="#{taskBean.dateBegin}" />

            <p:outputLabel for="dateEnd" value="New task date of end" />
            <p:inputText id="dateEnd"  placeholder="DD.MM.YYYY" value="#{taskBean.dateEnd}" />
            <h:form>
                <p:commandButton ajax="false" style="margin-top: 10px; padding: 5px" type="submit" value="EDIT TASK" action="#{taskBean.edit(
                    taskBean.id,
                    taskBean.projectId,
                    taskBean.name,
                    taskBean.description,
                    taskBean.dateBegin,
                    taskBean.dateEnd)
                }"/>
            </h:form>
        </h:panelGrid>
    </h:form>
</h:body>
</html>